[submodule "auth"]
	path = auth
	url = https://github.com/rekib0023/event-horizon-auth
	branch = main
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/rekib0023/event-horizon-gateway
	branch = main
[submodule "event-horizon-eventmgt"]
	path = event-horizon-eventmgt
	url = https://github.com/rekib0023/event-horizon-eventmgt
	branch = main
[submodule "mail-service"]
	path = mail-service
	url = https://github.com/rekib0023/event-horizon-mail-service
	branch = main
